@page "/"
@inject SweetAlertService Swal;


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<SfButton>Button</SfButton>
<SfCalendar TValue="DateTime"></SfCalendar>

<button class="btn btn-primary"
@onclick="@(async () => await Swal.FireAsync("Any fool can use a computer"))">
    Try me!
</button>