@page "/scripts"


@inject IRepositorio repositorio
@inject NavigationManager navigationManager

<h3>Scripts</h3>

<SfMessage Severity="MessageSeverity.Success">The Script was updated.</SfMessage>


<SfGrid DataSource="@listScripts">
    <GridTemplates>
        <DetailTemplate>
            @{
                var myScript = (context as ScriptDTO);
                <div>
                    <ScripDetalleList idScript="myScript.Id"></ScripDetalleList>
                </div>
            }
        </DetailTemplate>
    </GridTemplates>
    <GridColumns>
        <GridColumn Field=@nameof(ScriptDTO.Titulo) HeaderText="Title"></GridColumn>
    </GridColumns>
</SfGrid>



<style>
    .e-message {
        width: 300px;
    }
</style>


@*<div class="mb-3 mt-3">
    <a href="/usuarios/nuevo" class="btn btn-primary">New script</a>
</div>


@if (listScripts != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var script in listScripts)
            {
                <tr>
                    <td>@script.Id</td>
                    <td>@script.Titulo</td>
                    <td>@script.Descripcion</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => Editar(script)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => Borrar(script)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}*@


@code {
    private List<ScriptDTO>? listScripts { get; set; }
    private List<Usuario>? listUsers { get; set; }


    protected override async Task OnInitializedAsync()
    {

        await cargaUsuarios();

        await cargaScripts();

    }

    private async Task cargaScripts()
    {
        var respuestaHTTP = await repositorio.Get<List<ScriptDTO>>("api/Scripts");

        try
        {
            listScripts = respuestaHTTP.Response;
        }
        catch
        {
            //Escribir en consola el error
            Console.WriteLine(respuestaHTTP.Error.ToString());
        }
    }


    private async Task cargaUsuarios()
    {
        var respuestaHTTP = await repositorio.Get<List<Usuario>>("api/Usuarios");
        try
        {
            listUsers = respuestaHTTP.Response;
        }
        catch
        {
            //Escribir en consola el error
            Console.WriteLine(respuestaHTTP.Error.ToString());
        }
    }

    private void Editar(Script script)
    {
        navigationManager.NavigateTo($"/scripts/{script.Id}");
    }

    private async Task Borrar(ScriptDTO script)
    {
        var httpResponse = await repositorio.Delete($"api/Scripts/{script.Id}");

        if (httpResponse.Error)
        {
            Console.WriteLine(httpResponse.Error);
        }
        else
        {

            listScripts.Remove(script);
        }

    }

}
